doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="descriptions" content="mavic")
        title Mavic project
        link(rel='stylesheet', href="styles/normalize.css")
        //link(rel='stylesheet', href="styles/styles.css")
        style
            include styles/styles.css
    body
        include main

        script.
            const questionsBtnList = document.querySelectorAll('.questions__item-btn')

            function windowWidth() {
                const element = document.createElement('div')
                element.innerText = window.innerWidth + 'px'
                element.style.position = "absolute"
                element.style.top = "100px"
                element.style.right = "20px"
                element.style.fontWeight = 'bold'
                element.style.padding = "5px 10px "
                element.style.backgroundColor = "white"
                element.style.border = "1px solid black"
                element.style.color = '#ff3030'

                document.body.append(element)

                window.addEventListener('resize', () => {
                    element.innerText = window.innerWidth + 'px'
                })
            }

            windowWidth()

            questionsBtnList.forEach(btn => {
                btn.addEventListener('click', (e) => {
                    let idx = 1
                    console.log(e)

                    if (e.target.localName === 'svg') {
                        idx = 2
                    }

                    if (e.target.localName === 'path') {
                        idx = 3
                    }

                    const item = e.path[idx]
                    item.classList.toggle('questions__item_activated')
                })
            })

