doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="descriptions" content="mavic")
        title Mavic project
        link(rel='stylesheet', href="styles/normalize.css")
        //link(rel='stylesheet', href="styles/styles.css")
        style
            include styles/styles.css
    body
        include main

        // 1:47:14
