<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js" integrity="sha512-gSf3NCgs6wWEdztl1e6vUqtRP884ONnCNzCpomdoQ0xXsk06lrxJsR7jX5yM/qAGkPGsps+4bLV5IEjhOZX+gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

script.
    // new fullpage('#fullpage', {
    //     autoScrolling: true,
    //     scrollHorizontally: true,
    //     sectionSelector: '.page-section',
    // })

    const questionsBtnList = document.querySelectorAll('.questions__item-btn')

    function windowWidth() {
        const element = document.createElement('div')
        element.innerText = window.innerWidth + 'px'
        element.style.position = "absolute"
        element.style.top = "100px"
        element.style.right = "20px"
        element.style.zIndex = 11
        element.style.fontWeight = 'bold'
        element.style.padding = "5px 10px "
        element.style.backgroundColor = "white"
        element.style.border = "1px solid black"
        element.style.color = '#ff3030'

        document.body.append(element)

        window.addEventListener('resize', () => {
            element.innerText = window.innerWidth + 'px'
        })
    }

    windowWidth()

    questionsBtnList.forEach(btn => {
        btn.addEventListener('click', (e) => {
            let idx = 1
            console.log(e)

            if (e.target.localName === 'svg') {
                idx = 2
            }

            if (e.target.localName === 'path') {
                idx = 3
            }

            const item = e.path[idx]
            item.classList.toggle('questions__item_activated')
        })
    })