@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// light
@font-face {
  font-family: "SF Display Pro";
  font-weight: 300;
  font-display: swap;
  src: url("fonts/SFProDisplay-Light.woff") format("woff"),
  url("fonts/SFProDisplay-Light.woff2") format("woff2");
}

// regular
@font-face {
  font-family: "SF Display Pro";
  font-weight: 400;
  src: url("fonts/SFProDisplay-Regular.woff") format("woff"),
  url("fonts/SFProDisplay-Regular.woff2") format("woff2");
}

// medium
@font-face {
  font-family: "SF Display Pro";
  font-weight: 500;
  font-display: swap;
  src: url("fonts/SFProDisplay-Medium.woff") format("woff"),
  url("fonts/SFProDisplay-Medium.woff2") format("woff2");
}

// semibold
@font-face {
  font-family: "SF Display Pro";
  font-weight: 600;
  font-display: swap;
  src: url("fonts/SFProDisplay-Semibold.woff") format("woff"),
  url("fonts/SFProDisplay-Semibold.woff2") format("woff2");
}

// bold
@font-face {
  font-family: "SF Display Pro";
  font-weight: 700;
  font-display: swap;
  src: url("fonts/SFProDisplay-Bold.woff") format("woff"),
  url("fonts/SFProDisplay-Bold.woff2") format("woff2");
}