@import "fonts";
@import "vars";
@import "libs";
@import "global";

.header {
  position: fixed;
  left: 0;
  top: 30px;
  right: 0;
  z-index: 100;

  overflow: hidden;

  &__inner {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    text-transform: uppercase;
    font-family: $font-ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;

  }

  &__btn {
    padding: 6px 28px;
    margin-right: 8px;

    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ffffff;

    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;

    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      background: #ffffff;

      color: #1C1C1C;
    }
  }

  &__phone {
    font-family: $font-ubuntu;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
  }
}

//#region SCREEN 1
.menu {
  &__list-item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
  }
}
.top {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background-image: url("images/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: radial-gradient(45.97% 54.43% at 50% 45.57%,
            rgba(23, 26, 28, 0) 50.28%,
            rgba(23, 26, 28, 0.00225974) 50.29%,
            rgba(4, 5, 5, 0.820343) 58.72%,
            rgba(5, 5, 6, 0.792703) 80.08%,
            #000000 87.89%);
    opacity: 0.4;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    margin-bottom: 25px;

    font-family: $font-sf;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 115px;
  }

  .top_img {
    margin-bottom: 25px;
  }

  &__text {
    max-width: 325px;
    margin-bottom: 35px;
  }

  &__social-item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
  }

  &__social-link {
    z-index: 1000;
    opacity: 0.5;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
//#endregion

@import "media";
